# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.env.*
venv/
ENV/
env/
*.sqlite3

# VSCode
.vscode/

# Alembic
alembic/versions/*.pyc

# Docker
*.log
pgdata/
*.db

# Pytest
.cache/
.pytest_cache/

# Outros
.DS_Store