fastapi
uvicorn[standard]
sqlalchemy>=1.4
asyncpg
alembic
databases
python-dotenv
pydantic
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
email-validator
pytest
pytest-asyncio
httpx
requests
sentry-sdk
python-multipart
bcrypt>=4.0.1
psycopg2-binary